
Alura.ListaLeitura/.vs/Alura.ListaLeitura/v15/.suo
Alura.ListaLeitura/.vs/Alura.ListaLeitura/v15/.suo
*.lock
Alura.ListaLeitura/.vs/Alura.ListaLeitura/v15/.suo
Alura.ListaLeitura/.vs/Alura.ListaLeitura/v15/.suo
*.ide-wal
*.ide-shm
Alura.ListaLeitura/Alura.ListaLeitura.App/.vs/Alura.ListaLeitura.App/v16/.suo
*.ide
*.json
*.sqlite
*.json
*.dll
Alura.ListaLeitura/.vs/Alura.ListaLeitura/v15/.suo
*.json
*.cache
*.props
*.cache
*.props
*.cache
*.props
*.cache
*.props
